@import 'base/base';

/*Our Imports*/
@import 'colors';
@import 'headers';
@import 'range';
@import 'scrollbars';
@import 'animate';
@import 'ngAnimate';

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: $light;
	color: $dark;
}

/* Final imports below */
